@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.fontFamily {
  font-family: "Montserrat", serif;
}
.active {
  border-bottom: 2px solid green;
  padding-bottom: 2px;
  color: green;
  font-weight: 600;
}